body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.tiket {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tiket p {
    margin-bottom: 10px;
}

.btn-print {
    display: block;
    width: 150px;
    margin: 20px auto 0;
    text-align: center;
    background-color: #1877f2;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-print:hover {
    background-color: #166fe5;
}